/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss (1) ***!
  \**********************************************************************************************************************************************************/
@charset "UTF-8";
/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* Components */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #444444;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  background-color: #fffdff;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: auto;
}

/* CSS print */
/**
 * Print Stylesheet
*/
/* Fonts */
/**
 * Fonts
*/
@font-face {
  font-family: "Bebas Neue Bold";
  src: url(../images/design/bebas-neue-bold.b9cd40.eot);
  /* IE9 Compat Modes */
  src: url(../images/design/bebas-neue-bold.b9cd40.eot?#iefix) format("embedded-opentype"), url(../88941c47db7e8178ceb2.otf) format("opentype"), url(../images/design/bebas-neue-bold.b8bac2.svg) format("svg"), url(../images/design/bebas-neue-bold.a0fcd0.ttf) format("truetype"), url(../images/design/bebas-neue-bold.2fc9a6.woff) format("woff"), url(../images/design/bebas-neue-bold.872c21.woff2) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Noteworthy";
  src: url(../images/design/Noteworthy-Light.c11afb.eot);
  src: url(../images/design/Noteworthy-Light.c11afb.eot?#iefix) format("embedded-opentype"), url(../images/design/Noteworthy-Light.0e832e.woff2) format("woff2"), url(../images/design/Noteworthy-Light.b9f1d2.woff) format("woff"), url(../images/design/Noteworthy-Light.f7ce78.ttf) format("truetype"), url(../images/design/Noteworthy-Light.0354fc.svg#Noteworthy-Light) format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
.header {
  margin-bottom: 10px;
  position: relative;
}
@media (min-width: 390px) {
  .header {
    margin-bottom: 55px;
  }
}
@media (min-width: 768px) {
  .header {
    margin-bottom: 45px;
  }
}
@media (min-width: 991px) {
  .header {
    margin-bottom: -10px;
  }
}
.header__logo {
  width: 84px;
  height: 147px;
  margin: 20px 0px 20px 15px;
}
@media (min-width: 768px) {
  .header__logo {
    margin: 25px 0px 0px 25px;
  }
}
@media (min-width: 991px) {
  .header__logo {
    margin: 45px 0px 0px 25px;
  }
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__star {
  position: relative;
  right: 20px;
  bottom: 60px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  width: 190px;
  height: 186px;
}
.header__star img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 370px) {
  .header__star {
    right: 10px;
    bottom: 60px;
  }
}
@media (min-width: 390px) {
  .header__star {
    -webkit-transform: scale(1);
            transform: scale(1);
    bottom: 35px;
  }
}
@media (min-width: 768px) {
  .header__star {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    right: -50px;
    top: -25px;
  }
}
@media (min-width: 991px) {
  .header__star {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    right: -30px;
    top: 20px;
  }
}
@media (min-width: 1100px) {
  .header__star {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    right: -70px;
    top: 20px;
  }
}
.header__title {
  text-align: center;
  text-transform: uppercase;
  color: #be3778;
  font-family: "Noteworthy";
  text-shadow: -1.8px -1px 0px #c64283, -3px -1.5px 0px rgba(255, 195, 221, 0.7098039216), -5px -1.5px 0px #ffffff;
  font-weight: 300;
  font-size: 22px;
  line-height: 42px;
  position: relative;
  bottom: 80px;
  z-index: 10;
  max-width: 370px;
  margin: auto;
}
@media (min-width: 350px) {
  .header__title {
    bottom: 83px;
    font-size: 24px;
    text-shadow: -2px -1px 0px #c64283, -3.5px -1.5px 0px rgba(255, 195, 221, 0.7098039216), -5px -1.5px 0px #ffffff;
  }
}
@media (min-width: 390px) {
  .header__title {
    bottom: 45px;
    font-size: 27px;
  }
}
@media (min-width: 768px) {
  .header__title {
    text-shadow: -3px -1px 0px #c64283, -5px -2.5px 0px rgba(255, 195, 221, 0.7098039216), -6px -1.5px 0px #ffffff;
    bottom: 80px;
    font-size: 30px;
    max-width: 450px;
    line-height: 50px;
  }
}
@media (min-width: 991px) {
  .header__title {
    bottom: 160px;
    font-size: 40px;
    max-width: 516px;
    line-height: 60px;
  }
}
.header__sub-title {
  color: #444444;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  max-width: 335px;
  margin: auto;
  position: relative;
  bottom: 70px;
  z-index: 10;
}
@media (min-width: 350px) {
  .header__sub-title {
    bottom: 70px;
  }
}
@media (min-width: 370px) {
  .header__sub-title {
    font-size: 20px;
  }
}
@media (min-width: 390px) {
  .header__sub-title {
    bottom: 25px;
  }
}
@media (min-width: 768px) {
  .header__sub-title {
    bottom: 55px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 991px) {
  .header__sub-title {
    bottom: 130px;
    font-size: 24px;
    line-height: 32px;
  }
}
.header__btn {
  max-width: 400px;
  width: 90%;
  margin: auto;
  position: relative;
  bottom: 40px;
}
@media (min-width: 390px) {
  .header__btn {
    bottom: -5px;
  }
}
@media (min-width: 768px) {
  .header__btn {
    bottom: 10px;
  }
}
@media (min-width: 991px) {
  .header__btn {
    bottom: 75px;
  }
}
.header__btn a {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  background-color: #f364ab;
  border-radius: 25px;
  width: 100%;
  padding: 15px 0;
  position: relative;
}
.header__btn a:hover, .header__btn a:active, .header__btn a:focus {
  background-color: #ffa7cf;
}
.header__btn a::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 14px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxMSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0wLjg4MTU5MiAxTDkuMjEzNjMgMTEuNTU2M0wwLjg4MTU5MiAyMi41IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+DQo8L3N2Zz4NCg==) no-repeat;
  width: 10px;
  height: 25px;
  color: #ffffff;
}
.header__btn a::before {
  content: "";
  position: absolute;
  right: 28px;
  top: 14px;
  display: inline-block;
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxMSAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGQ9Ik0wLjg4MTU5MiAxTDkuMjEzNjMgMTEuNTU2M0wwLjg4MTU5MiAyMi41IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+DQo8L3N2Zz4NCg==) no-repeat;
  width: 10px;
  height: 25px;
  color: #ffffff;
}

.window-header {
  position: absolute;
  right: 0px;
  top: -10px;
}
@media (max-width: 390px) {
  .window-header {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    right: -10px;
    top: -30px;
  }
}
@media (max-width: 350px) {
  .window-header {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    right: -20px;
    top: -50px;
  }
}
@media (min-width: 768px) {
  .window-header {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    right: 20px;
    top: 30px;
  }
}
@media (min-width: 991px) {
  .window-header {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    right: 39px;
    top: 60px;
  }
}
.window-header__window {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}
.window-header__new {
  position: absolute;
  top: 40px;
  right: 0;
  z-index: 10;
  width: 89px;
  height: 82px;
}
.window-header__new img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.window-header__beauty {
  position: absolute;
  top: 85px;
  right: 25px;
  z-index: 5;
  width: 172px;
  height: 109px;
}
.window-header__beauty img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.window-header__beauty::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  width: 225px;
  height: 120px;
  background: #ffffff;
  -webkit-box-shadow: 1px 2px 4px #f364ab;
          box-shadow: 1px 2px 4px #f364ab;
  z-index: -1;
}

.launch {
  margin-bottom: 100px;
  position: relative;
}
@media (min-width: 370px) {
  .launch {
    margin-bottom: 90px;
  }
}
@media (min-width: 991px) {
  .launch {
    margin-bottom: 130px;
  }
}
.launch::before {
  content: "";
  position: absolute;
  left: 0;
  top: 135px;
  z-index: 0;
  background: url(../images/design/flowers_phone.9db74d.jpg);
  display: block;
  width: 100vw;
  height: 146px;
}
@media (min-width: 991px) {
  .launch::before {
    top: 195px;
  }
}
.launch__body {
  position: relative;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 500px;
  margin: auto;
}
@media (min-width: 991px) {
  .launch__body {
    margin-top: 80px;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
.launch__box {
  position: relative;
  width: calc(100% - 13px);
  background-color: #ffe9f3;
  border-radius: 13px;
}
.launch__box::after {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  top: -12px;
  border: 1px solid rgba(249, 114, 177, 0.7);
  border-radius: 13px;
  width: 100%;
  height: 100%;
}
@media (min-width: 350px) {
  .launch__box::after {
    left: -13px;
    top: -13px;
  }
}
.launch__title {
  color: #ff96c5;
  font-family: "Bebas Neue Bold";
  font-size: 21px;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (min-width: 350px) {
  .launch__title {
    font-size: 25px;
    margin-bottom: 25px;
  }
}
@media (min-width: 500px) {
  .launch__title {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .launch__title {
    margin-bottom: 30px;
    font-size: 26px;
  }
}
@media (min-width: 991px) {
  .launch__title {
    font-size: 33px;
  }
}
.launch__img {
  position: absolute;
  top: -79px;
  right: -13px;
  width: 115px;
  height: 115px;
}
.launch__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.timer {
  width: 258px;
  margin: auto;
}
@media (min-width: 370px) {
  .timer {
    width: 320px;
  }
}
@media (min-width: 768px) {
  .timer {
    width: 450px;
  }
}

.timer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px 0;
}
@media (min-width: 370px) {
  .timer__items {
    padding: 50px 0;
  }
}

.timer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-family: "Bebas Neue Bold";
  z-index: 50;
  top: -28px;
  right: -15px;
  border-radius: 6px;
  text-align: center;
  letter-spacing: 25px;
  font-size: 34px;
  line-height: 41px;
  color: #ffffff;
}
@media (min-width: 370px) {
  .timer__item {
    letter-spacing: 36px;
    right: -20px;
  }
}
@media (min-width: 768px) {
  .timer__item {
    right: -20px;
    letter-spacing: 40px;
  }
}
@media (min-width: 991px) {
  .timer__item {
    right: -25px;
    letter-spacing: 46px;
  }
}

.timer__item::before {
  content: attr(data-title);
  display: block;
  position: relative;
  z-index: 10;
  left: -15%;
  bottom: -97px;
  color: #7b7a79;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media (min-width: 370px) {
  .timer__item::before {
    left: -17%;
    bottom: -100px;
  }
}
@media (min-width: 768px) {
  .timer__item::before {
    left: -18%;
  }
}

.timer__item:not(:first-child)::after {
  content: ":";
  position: absolute;
  right: 66px;
  top: 39px;
  font-size: 25px;
  color: #ff96c5;
}
@media (min-width: 370px) {
  .timer__item:not(:first-child)::after {
    right: 80px;
  }
}
@media (min-width: 768px) {
  .timer__item:not(:first-child)::after {
    right: 106px;
  }
}

.launch__border-days,
.launch__border-hours,
.launch__border-minutes {
  position: relative;
}
.launch__border-days::after,
.launch__border-hours::after,
.launch__border-minutes::after {
  content: "";
  position: absolute;
  background-color: #ff96c5;
  display: block;
  top: 0;
  left: 0;
  border-radius: 6px;
  width: 33px;
  height: 95px;
  z-index: 0;
}
@media (min-width: 370px) {
  .launch__border-days::after,
.launch__border-hours::after,
.launch__border-minutes::after {
    width: 42px;
    height: 100px;
  }
}
@media (min-width: 991px) {
  .launch__border-days::after,
.launch__border-hours::after,
.launch__border-minutes::after {
    width: 50px;
  }
}
.launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: #ff96c5;
  border-radius: 6px;
  width: 33px;
  height: 95px;
  z-index: 0;
}
@media (min-width: 370px) {
  .launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
    width: 42px;
    height: 100px;
  }
}
@media (min-width: 991px) {
  .launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
    width: 50px;
  }
}

.launch__border-days::after,
.launch__border-hours::after,
.launch__border-minutes::after {
  left: -37px;
  top: -55px;
}
@media (min-width: 370px) {
  .launch__border-days::after,
.launch__border-hours::after,
.launch__border-minutes::after {
    left: -48px;
    top: -57px;
  }
}
@media (min-width: 768px) {
  .launch__border-days::after,
.launch__border-hours::after,
.launch__border-minutes::after {
    left: -66px;
  }
}
.launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
  content: "";
  left: -76px;
  top: -55px;
}
@media (min-width: 370px) {
  .launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
    left: -97px;
    top: -57px;
  }
}
@media (min-width: 768px) {
  .launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
    left: -121px;
  }
}
@media (min-width: 991px) {
  .launch__border-days::before,
.launch__border-hours::before,
.launch__border-minutes::before {
    left: -126px;
  }
}

.how {
  margin-bottom: 50px;
}
@media (min-width: 991px) {
  .how {
    margin-bottom: 100px;
  }
}
.how__title {
  margin-bottom: 23px;
}
@media (min-width: 991px) {
  .how__title {
    margin-bottom: 60px;
  }
}
.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how__items__box:first-child p {
  padding-right: 3px;
}
.how__block {
  width: calc(100% - 28px);
}
.how__block p {
  border: 1px solid rgba(249, 114, 177, 0.7);
  border-radius: 13px;
  max-width: 500px;
  width: calc(100% - 13px);
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  height: 140px;
  padding: 0 25px 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 340px) {
  .how__block {
    font-size: 17px;
  }
}
.how__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.how__item:first-child {
  margin-bottom: 25px;
}
@media (min-width: 991px) {
  .how__item:first-child {
    margin-bottom: 90px;
  }
}
@media (min-width: 991px) {
  .how__item {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}
.how__box {
  top: 27px;
  left: 0;
  position: absolute;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 56px;
          flex: 0 0 56px;
  width: 56px;
  height: 86px;
  background: #ffa7cf;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.how__box p {
  font-size: 37px;
  line-height: 36px;
  font-family: "Bebas Neue Bold";
  color: #ffffff;
  margin-top: 9px;
}

.sub-title {
  position: relative;
  z-index: 5;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Bebas Neue Bold";
  color: #ff96c5;
  width: 100%;
}
.sub-title::after {
  content: "Как это работает?";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 50%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .sub-title::after {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .sub-title::after {
    font-size: 25px;
    top: -22px;
  }
}
.sub-title::before {
  content: "Как это работает?";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 49.3%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .sub-title::before {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .sub-title::before {
    font-size: 25px;
    top: -22px;
  }
}
@media (min-width: 768px) {
  .sub-title::before {
    left: 49.6%;
  }
}
@media (min-width: 991px) {
  .sub-title::before {
    left: 49.7%;
  }
}
@media (min-width: 991px) {
  .sub-title {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.how-p {
  padding-right: 3px;
}

.solve-problem {
  margin-bottom: 50px;
}
@media (min-width: 991px) {
  .solve-problem {
    margin-bottom: 80px;
  }
}
.solve-problem__title {
  position: relative;
  z-index: 5;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Bebas Neue Bold";
  color: #ff96c5;
  width: 100%;
  margin-bottom: 30px;
}
.solve-problem__title::after {
  content: "Мы решаем две основные проблемы";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 50%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .solve-problem__title::after {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .solve-problem__title::after {
    font-size: 25px;
    top: -22px;
  }
}
.solve-problem__title::before {
  content: "Мы решаем две основные проблемы";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 49.3%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .solve-problem__title::before {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .solve-problem__title::before {
    font-size: 25px;
    top: -22px;
  }
}
@media (min-width: 768px) {
  .solve-problem__title::before {
    left: 49.6%;
  }
}
@media (min-width: 991px) {
  .solve-problem__title::before {
    left: 49.7%;
  }
}
@media (min-width: 991px) {
  .solve-problem__title {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

.problem-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: 0 auto 18px;
}
@media (min-width: 991px) {
  .problem-block__items {
    margin: 0 auto 30px;
  }
}
@media (min-width: 991px) {
  .problem-block__items {
    max-width: 700px;
  }
}
.problem-block__item-bg {
  position: relative;
  top: 6px;
  left: -5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -3px;
}
.problem-block__item-bg p {
  width: 150px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-align: center;
  padding: 11px 5px;
  color: #ffffff;
}
@media (min-width: 768px) {
  .problem-block__item-bg p {
    font-size: 21px;
    line-height: 30px;
    width: 180px;
  }
}
@media (min-width: 991px) {
  .problem-block__item-bg p {
    font-size: 26px;
    padding: 20px 5px;
    width: 250px;
  }
}
.problem-block__item-bg::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 0px;
  height: 64px;
  width: calc(100% - 7px);
  border: 1px solid rgba(249, 114, 177, 0.7019607843);
  border-radius: 13px;
}
@media (min-width: 768px) {
  .problem-block__item-bg::after {
    height: 80px;
  }
}
@media (min-width: 991px) {
  .problem-block__item-bg::after {
    height: 100px;
  }
}
.problem-block__item-box {
  width: calc(100% - 7px);
  background: #ffa7cf;
  border-radius: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.problem-block__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  position: relative;
  right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(249, 114, 177, 0.4);
  border-radius: 13px;
}
.problem-block__item p {
  width: 110px;
  text-align: center;
  padding: 10px 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(249, 114, 177, 0.5019607843);
}
@media (min-width: 768px) {
  .problem-block__item p {
    font-size: 21px;
    line-height: 30px;
    width: 150px;
  }
}
@media (min-width: 991px) {
  .problem-block__item p {
    font-size: 26px;
    width: 200px;
    padding: 20px 5px;
  }
}
.problem-block__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  margin: auto;
  position: relative;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .problem-block__banners {
    margin-bottom: 35px;
  }
}
@media (min-width: 991px) {
  .problem-block__banners {
    max-width: 700px;
  }
}
.problem-block__banners::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -5px;
  width: calc(100vw - 20px);
  height: 1px;
  background-color: #ff96c5;
}
@media (min-width: 500px) {
  .problem-block__banners::after {
    width: 100%;
    left: 0px;
  }
}
@media (min-width: 768px) {
  .problem-block__banners::after {
    bottom: -5px;
  }
}
.problem-block__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .problem-block__banner {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .problem-block__banner {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.problem-block__banner:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.problem-block__banner:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.problem-block__banner p {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}
@media (min-width: 340px) {
  .problem-block__banner p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .problem-block__banner p {
    font-size: 16px;
  }
}
.problem-block__banner-img {
  width: 105px;
  height: 36px;
}
.problem-block__banner-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.problem-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-items: stretch;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 500px;
  margin: auto;
  margin-bottom: 15px;
}
@media (min-width: 420px) {
  .problem-text {
    gap: 20px;
  }
}
@media (min-width: 768px) {
  .problem-text {
    margin-bottom: 25px;
  }
}
@media (min-width: 991px) {
  .problem-text {
    margin-bottom: 30px;
    max-width: 700px;
  }
}
.problem-text:last-child {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .problem-text:last-child {
    margin-bottom: 25px;
  }
}
@media (min-width: 991px) {
  .problem-text:last-child {
    margin-bottom: 50px;
  }
}
.problem-text__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .problem-text__title {
    font-size: 21px;
    margin-bottom: 25px;
  }
}
@media (min-width: 991px) {
  .problem-text__title {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.problem-text__text-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.problem-text__text-bg p {
  background: #ffe9f3;
  border-radius: 13px;
  font-size: 12px;
  font-weight: 400;
  color: #f364ab;
  padding: 15px 5px;
  line-height: 17px;
}
@media (min-width: 350px) {
  .problem-text__text-bg p {
    font-size: 14px;
  }
}
@media (min-width: 390px) {
  .problem-text__text-bg p {
    padding: 15px 9px;
  }
}
@media (min-width: 768px) {
  .problem-text__text-bg p {
    font-size: 16px;
    line-height: 22px;
    padding: 22px 15px;
  }
}
@media (min-width: 991px) {
  .problem-text__text-bg p {
    font-size: 18px;
    line-height: 27px;
  }
}
.problem-text__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.problem-text__text:first-child {
  margin-bottom: 30px;
}
.problem-text__text p {
  line-height: 17px;
  font-size: 12px;
  padding: 6px 5px;
}
@media (min-width: 350px) {
  .problem-text__text p {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  .problem-text__text p {
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
  }
}
@media (min-width: 991px) {
  .problem-text__text p {
    font-size: 18px;
    line-height: 27px;
  }
}

.margi-left {
  margin-left: -3px;
  margin-right: 0px;
  left: 5px;
}

.pos-left {
  right: 5px;
}

.for-whom {
  margin-bottom: 30px;
}
@media (min-width: 991px) {
  .for-whom {
    margin-bottom: 150px;
  }
}
.for-whom__title {
  position: relative;
  z-index: 5;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Bebas Neue Bold";
  color: #ff96c5;
  width: 100%;
  margin-bottom: 35px;
}
@media (min-width: 430px) {
  .for-whom__title {
    margin-bottom: 30px;
  }
}
.for-whom__title::after {
  content: "Для кого мы стараемся?";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 50%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .for-whom__title::after {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .for-whom__title::after {
    font-size: 25px;
    top: -22px;
  }
}
.for-whom__title::before {
  content: "Для кого мы стараемся?";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 49.3%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .for-whom__title::before {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .for-whom__title::before {
    font-size: 25px;
    top: -22px;
  }
}
@media (min-width: 768px) {
  .for-whom__title::before {
    left: 49.6%;
  }
}
@media (min-width: 991px) {
  .for-whom__title::before {
    left: 49.7%;
  }
}
@media (min-width: 991px) {
  .for-whom__title {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.for-whom__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 500px;
  margin: auto;
}
@media (min-width: 991px) {
  .for-whom__box {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    position: relative;
    top: 55px;
  }
}
.for-whom__img {
  width: 45%;
  margin: 0 20px 50px 0;
}
@media (min-width: 390px) {
  .for-whom__img {
    margin: 0 20px 30px 0;
  }
}
@media (min-width: 430px) {
  .for-whom__img {
    margin: 0 20px 25px 0;
  }
}
.for-whom__img svg {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.for-whom__items {
  width: 55%;
}
.for-whom__item {
  background-color: #ff7dbe;
  border-radius: 13px;
  padding: 4px 15px 20px 3px;
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 10;
  margin-bottom: 15px;
  z-index: 10;
}
.for-whom__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -5px;
  left: -5px;
  z-index: -1;
  background-color: #ffe9f3;
  border-radius: 13px;
}
.for-whom__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: -9px;
  top: -9px;
  border: 1px solid #ff7dbe;
  border-radius: 13px;
  z-index: 1;
}
.for-whom__item p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.for-whom__item-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-bottom: 5px;
}

.philosophy {
  position: relative;
  margin: 80px 0 25px 0;
}
@media (min-width: 991px) {
  .philosophy {
    margin: 200px 0 50px 0;
  }
}
.philosophy__title {
  position: absolute;
  z-index: 5;
  top: -53px;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: "Bebas Neue Bold";
  color: #ff96c5;
  width: 100%;
  margin-bottom: 35px;
}
.philosophy__title::after {
  content: "Наша философия";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 50%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .philosophy__title::after {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .philosophy__title::after {
    font-size: 25px;
    top: -22px;
  }
}
.philosophy__title::before {
  content: "Наша философия";
  position: absolute;
  z-index: -1;
  top: -20px;
  left: 49.3%;
  width: 600px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: "Noteworthy";
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(255, 209, 229, 0.42);
}
@media (min-width: 350px) {
  .philosophy__title::before {
    font-size: 22px;
    top: -21px;
  }
}
@media (min-width: 390px) {
  .philosophy__title::before {
    font-size: 25px;
    top: -22px;
  }
}
@media (min-width: 768px) {
  .philosophy__title::before {
    left: 49.6%;
  }
}
@media (min-width: 991px) {
  .philosophy__title::before {
    left: 49.7%;
  }
}
@media (min-width: 991px) {
  .philosophy__title {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1.3);
            transform: translateX(-50%) scale(1.3);
  }
}
.philosophy__blok {
  max-width: 500px;
  position: relative;
  z-index: 10;
  top: 25px;
  width: calc(100% - 20px);
  margin: auto;
  background-color: #fffdff;
  border-radius: 13px;
}
@media (min-width: 991px) {
  .philosophy__blok {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    top: 50px;
  }
}
.philosophy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 15px 8px 10px;
}
@media (min-width: 370px) {
  .philosophy__items {
    padding: 15px 15px 8px 10px;
  }
}
@media (min-width: 390px) {
  .philosophy__items {
    padding: 20px 30px 8px 15px;
  }
}
.philosophy__item-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  width: 25%;
  margin: auto;
}
@media (min-width: 370px) {
  .philosophy__item-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 22%;
            flex: 1 1 22%;
    width: 22%;
  }
}
@media (min-width: 390px) {
  .philosophy__item-img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 18%;
            flex: 1 1 18%;
    width: 18%;
  }
}
.philosophy__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 75%;
          flex: 1 1 75%;
}
@media (min-width: 370px) {
  .philosophy__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 78%;
            flex: 1 1 78%;
  }
}
@media (min-width: 390px) {
  .philosophy__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 82%;
            flex: 1 1 82%;
  }
}
.philosophy__text {
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  margin-bottom: 7px;
}
@media (min-width: 370px) {
  .philosophy__text {
    font-size: 15px;
    line-height: 18px;
    padding-left: 5px;
  }
}
.philosophy__box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.philosophy__img img {
  max-width: 100%;
  height: 19px;
  -o-object-fit: contain;
     object-fit: contain;
}
.philosophy__item-img-bg {
  height: 100%;
  padding: 25px 0;
}
@media (min-width: 991px) {
  .philosophy__item-img-bg {
    padding: 50px 0;
  }
}
.philosophy__item-img-bg img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quiz {
  margin-bottom: 30px;
}
@media (min-width: 991px) {
  .quiz {
    margin-bottom: 80px;
  }
}
.quiz__title {
  font-family: "Bebas Neue Bold";
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #f364ab;
  margin-bottom: 38px;
}
@media (min-width: 991px) {
  .quiz__title {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.quiz__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 21px 23px 17px;
  max-width: 500px;
  margin: auto;
}
@media (min-width: 991px) {
  .quiz__items {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    margin-top: 90px;
  }
}
.quiz__items::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 13px;
  display: block;
  width: calc(100% - 15px);
  height: 100%;
  border: 1px solid #fb9cc9;
  border-radius: 13px;
}
.quiz__items::before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  display: block;
  width: calc(100% - 15px);
  height: 100%;
  border: 1px solid #fb9cc9;
  border-radius: 13px;
}
.quiz__item-img {
  width: 55%;
  text-align: center;
  margin-bottom: 23px;
  position: relative;
}
.quiz__item-img::after {
  content: "";
  background: url(../images/design/hart-transparent.4e5223.png);
  background-size: cover;
  width: 90px;
  height: 78px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -15px;
}
.quiz__item-img p {
  font-size: 14px;
  line-height: 15px;
}
.quiz__item-img p span {
  font-weight: 500;
}
.quiz__item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.quiz__item p {
  width: 80%;
  font-size: 14px;
  line-height: 15px;
}
.quiz__item p span {
  font-weight: 500;
}
.quiz__bg-img {
  position: absolute;
  top: -74px;
  right: -6px;
  width: 106px;
  height: 102px;
  z-index: 1;
  background-color: #fffdff;
}
.quiz__bg-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Demo Page styles */
